<ng-template pTemplate="header">
  <h3 class="mr-auto">
    Chargement de l'acte signé
  </h3>
  <p-divider></p-divider>
  <div class="p-mb-2">
    <!-- <p-message *ngIf="message" [severity]="message.severity" [text]="message.detail"></p-message> -->
  </div>
</ng-template>
<div class="p-mb-2">
  <p-progressBar *ngIf="isOperationInProgress" mode="indeterminate"></p-progressBar>
</div>
<form (ngSubmit)="save()" #df="ngForm">
  <!-- <div class="p-d-flex p-mb-2">
      
      <p-message *ngIf="missingDocumentOptions && !missingDocumentOptions.length" severity="info"
        text="Tous les documents requis ont été fournis"></p-message>
      <div class="p-ml-auto">
        <p-button label="Type de Retraite: {{candidate.dossier.dossierType}}" icon="pi pi-folder-open"
        styleClass="p-button-text p-button-secondary">
      </p-button>
      </div>
    </div> -->
  <div>
    <div class="p-grid">
      <div class="p-col-6">
        <p-fileUpload #fileUpload mode="advanced" [showCancelButton]="false" [showUploadButton]="false" accept=".pdf" [maxFileSize]="1000000"
          chooseLabel="Selectionner" (uploadHandler)="onUpload($event)" (onSelect)="onFileSelect($event)"
          (onRemove)="onFileRemove()">
          <ng-template pTemplate="content" let-files>
            <div *ngIf="!files.length" class="text-center p-p-5 app-yellow">
              <i class="pi pi-upload" style="font-size: 2rem"></i>
              <div>
                <span>Selectionnez ou glissez et deplacez un fichier ici</span>
              </div>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>

    </div>
    <p-button label="Fichiers acceptés: pdf" icon="pi pi-info-circle"
      styleClass="p-button-text p-button-secondary">
    </p-button>
  </div>
  <p-divider></p-divider>
  <div class="text-right">
    <button type="submit" pButton label="Enregistrer" icon="pi pi-save"
      class="p-button-raised p-button-text p-button-secondary p-mr-2"
      [disabled]="!df.form.valid">
    </button>
    <button pButton label="Fermer" icon="pi pi-times" class="p-button-raised p-button-text p-button-secondary"
      >
    </button>
  </div>
</form>